<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Which horror movie should you be watching</title>
</head>
<body>
    <h1> {{ layout['question'] }} </h1>
    {{ layout['selected'] }}
    <form method="post">
        <input readonly type="hidden" name="name" value="{{ layout['name'] }}">
        {% for text in layout['answers'] %}
        <input name="answer" type="radio" value="{{ text }}">
            {{ text }}<br>
        {% endfor %}
        <input type="submit" name="Submit" value="Submit" {% if layout['selected'] != '' %} style="display:none;"{% endif %}>
        <input type="submit" name="Restart" value="Restart">
    </form>
</body>
</html>
